<%
pagestart = 20*(page-1)
pageend = 20*page
%>
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>stupid chatlogger - maps - {{map}}</title>
		% include('./includes/head_shared.tpl')
	</head>
	<body>
		% include('./includes/title.tpl')
		% include('./includes/search_box.tpl')
		<h3 class="centered_header">Search map:</h3>
        <div class="top-div">
            <div style="background-image: url('/map/{{map}}');" class="map_image">
				<span class="mapname">{{map}}</span>
			</div>
        </div>
        <br><br><br>
		% include('./includes/chat_container.tpl')
		<%
		prevlink = "/m/{}/{}".format(omap,page-1)
		nextlink = "/m/{}/{}".format(omap,page+1)
		include('./includes/page_controller.tpl',plink=prevlink,nlink=nextlink,pdisable=(page-1)<=0,ndisable=page+1>totalpages)
		%>
		% include('./includes/footer.tpl')
	</body>
</html>